/************ BASE STYLE ***************/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.28vw;
  color: black;
  background: white;
  max-width: 1200px;
  width: 100%;
  overflow-x: hidden;
  max-height: 835px;
  height:100%;
}

@font-face {
  font-family: 'wisdom';
  src: url('../fonts/wisdom.otf');
  font-weight: normal;
}

header {
  height: 400px;
}

#about {
  height: 150px;
}

#menu, #reviews, #contact {
  height: 205px;
}

footer {
  height: 20px
}

/************* GRID *******************/

.full-width{
  width: 100%;
  margin: 0 auto;

}

.half-width {
  width: 50%;
  float: left;
}

.third-width-1, .third-width-2, .third-width-3  {
  width: 33.3%;
  float: left;
  background-color: #f2f2f2;


}




/************ HEADER ******************/

header h2 {
  font-size: 2.4vw;
  line-height: 1.84vw;
  font-weight: bold;
  margin: 5%;

}

span.h2-alt-color {
  color: #77a466;
}

header nav {
  float: right;
  margin: 5%;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
}

header a {
  color: #77a466;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.12vw;
  line-height: 1.84vwpx;
  font-weight: bold;
  padding-left: 25%;
}

header img {
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;
  clear: both;
  margin: 0 2%;
  width: 100%;
  height: auto;
}

/*************** ABOUT ******************/

#about h3 {
  font-size: 1.44vw;
  line-height: 1.84vw;
  color: #77a466;
  text-transform: uppercase;
  margin: 2%;

}

#about p {
  line-height: 2vw;
  margin: 1% 2%;
}

/**************** MENU ********************/

h4 {
  font-size: 0.96vw;
  line-height: 2vw;
  text-transform: uppercase;
  margin: 5%;
  text-align: center;

}

#menu p {
  color: #77a466;
  line-height: 1.44vw;
  margin: 5%;
  text-align: center;
  width: 95%;

}

/**************** REVIEWS ******************/

#reviews p {
  font-size: 1.28vw;
  line-height: 2vw;
  margin: 5%;
  text-align: center;
  width: 98%;
}

#reviews h4 {
  margin: 5%;


}

/**************** CONTACT ******************/

#contact p {
  font-size: 1.28vw;
  line-height: 1.92vwpx;
  margin: 5%;
  text-align: center;
  width: 95%;
}

#contact h4 {
  margin: 5%;
  text-align: center;
}

/***************** FOOTER ******************/

footer {
  clear: both;
}

footer h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 22%;
}

span.alt-style {
  color: #77a466;
  text-transform: none;
  font-family: 'wisdom';
  font-weight: normal;
}
